* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond';
    src: url('fonts/CormorantGaramond-Regular.woff2') format('woff2'),
        url('fonts/CormorantGaramond-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-blue-dark: #2D4354;
    --color-gray-green: #73766A;
    --color-beige: #FED7A5;
    --color-brown-light: #9E6752;
    --color-brown-dark: #534145;
    --color-blackish: #20212B;
}

/* background color/////////////////////////////////// */
.bg-blue-dark {
    background-color: var(--color-blue-dark);
}

.bg-gray-green {
    background-color: var(--color-gray-green);
}

.bg-beige {
    background-color: var(--color-beige);
}

.bg-brown-light {
    background-color: var(--color-brown-light);
}

.bg-brown-dark {
    background-color: var(--color-brown-dark);
}

.bg-blackish {
    background-color: var(--color-blackish) !important;
}


/*text color ///////////////////////////////////////////// */
.text-blue-dark {
    color: var(--color-blue-dark);
}

.text-gray-green {
    color: var(--color-gray-green);
}

.text-beige {
    color: var(--color-beige) !important;
}

.text-brown-light {
    color: var(--color-brown-light);
}

.text-brown-dark {
    color: var(--color-brown-dark);
}

.text-blackish {
    color: var(--color-blackish);
}

/*solid background //////////////////////////////////////////////////// */

.bg-solid-blue-dark {
    background-color: var(--color-blue-dark);
    color: #FED7A5;
    padding: 8px 16px;
    border-radius: 6px;
}

.bg-solid-gray-green {
    background-color: var(--color-gray-green);
    color: #FED7A5;
    padding: 8px 16px;
    border-radius: 6px;
}

.bg-solid-beige {
    background-color: var(--color-beige);
    color: #20212B;
    padding: 8px 16px;
    border-radius: 6px;
}

.bg-solid-brown-light {
    background-color: var(--color-brown-light);
    color: #FED7A5;
    padding: 8px 16px;
    border-radius: 6px;
}

.bg-solid-brown-dark {
    background-color: var(--color-brown-dark);
    color: #FED7A5;
    padding: 8px 16px;
    border-radius: 6px;
}

.bg-solid-blackish {
    background-color: var(--color-blackish);
    color: #FED7A5;
    padding: 8px 16px;
    border-radius: 6px;
}


/*outline And Hover ////////////////////////////////////////////// */

.hover-outline-blue-dark {
    background-color: transparent;
    color: var(--color-blue-dark);
    border: 2px solid var(--color-blue-dark);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-outline-blue-dark:hover {
    background-color: var(--color-blue-dark);
    color: #FED7A5;
}

.hover-outline-gray-green {
    background-color: transparent;
    color: var(--color-gray-green);
    border: 2px solid var(--color-gray-green);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-outline-gray-green:hover {
    background-color: var(--color-gray-green);
    color: #FED7A5;
}

.hover-outline-beige {
    background-color: transparent;
    color: var(--color-beige);
    border: 2px solid var(--color-beige);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-outline-beige:hover {
    background-color: var(--color-beige);
    color: #20212B;
}

.hover-outline-brown-light {
    background-color: transparent;
    color: var(--color-brown-light);
    border: 2px solid var(--color-brown-light);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-outline-brown-light:hover {
    background-color: var(--color-brown-light);
    color: #FED7A5;
}

.hover-outline-brown-dark {
    background-color: transparent;
    color: var(--color-brown-dark);
    border: 2px solid var(--color-brown-dark);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-outline-brown-dark:hover {
    background-color: var(--color-brown-dark);
    color: #FED7A5;
}

.hover-outline-blackish {
    background-color: transparent;
    color: var(--color-blackish);
    border: 2px solid var(--color-blackish);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-outline-blackish:hover {
    background-color: var(--color-blackish);
    color: #FED7A5;
}

/* ////////////////////////////////////////////////// */

/* header/////////////////////////////////////////////////////// */
.borders {
    border-width: 5px !important;
    border-color: var(--color-brown-light) !important;
}

.dropdown-item:active {
    background-color: var(--color-beige);
}

/* End header////////////////////////////////////////////////////// */
/* background-slider///////////////////////////////////////////////// */
.ovarlay {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.icons {
    z-index: 5;
}

.modal {
    z-index: 1055;
}

.modal-backdrop {
    z-index: 1050;
}

/* End background-slider ///////////////////////////////////////////////////////////////// */
/* Section-3//////////////////////////////////////////////////////// */
.Content {
    background: linear-gradient(360deg,
            var(--color-blackish),
            var(--color-brown-dark));
}

/* End Section-3//////////////////////////////////////////////////////// */

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FED7A5' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239E6752' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

/* //////////////////////////////////////////////////////////////////// */
.Content-2 {
    background: linear-gradient(to bottom, var(--color-blackish), var(--color-brown-dark)) !important;

}

.copied-text {
    opacity: 0;
    visibility: hidden;
    background: #20212B;
    color: #FED7A5;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.copy-btn:focus+.copied-text,
.copy-btn:active+.copied-text {
    opacity: 1;
    visibility: visible;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
.bg-img {
    width: 100%;
    height: 60vh;
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.shadow-soft {
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.20),
        0 10px 20px rgba(0, 0, 0, 0.20);
}

.cards .After-card {
    min-width: 30% !important;
    position: relative;
    overflow: hidden;
    /* مهم */
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards .After-card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #20212b3b;
    transform: translate(-50%, -50%) scale(0);
    /* يبدأ صغير من المنتصف */
    transition: transform 0.7s ease;
    z-index: 1;
}

.cards .After-card:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.cards .After-card:hover {
    transform: scale(1.05);
}


.card-img-fixed {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* ///////////////////////////////////////////////////////////////// */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.raduse {
    border-radius: 10%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.raduse:hover {
    transform: scale(.9);
}

/* ///////////////////////////////////////////////////////////////// */

.trans {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.50), 0 10px 20px rgba(0, 0, 0, 0.50);
    margin: 30px auto;
    display: block;
    overflow: hidden; 
}

.img-container {
    width: 100%;
    height: 320px; 
    overflow: hidden; 
    flex-shrink: 0; 
}


.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.trans:hover img {
    transform: scale(1.05);
}

.trans img {
    clip-path: none;
}

.line {
    width: 140px;
    border-top: 2px solid var(--color-beige);
    z-index: 4;
}

@media (min-width: 768px) {
    .trans img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    }

    .image img {
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    }
}

@media (max-width: 767px) {
    .trans{
        margin-top: 120px;
    }
    .titel{
        padding: 40px 0;
    }
}

/* //////////////////////////////////////////////////////////// */

.Social{
    min-height: 75vh;
    margin-top: 100px;
}

.icon-Social  {
    width: 200px;
    height: auto;
    
}

/* ////////////////////////////////////////////////////////////// */
/* Footer Base */
/* Base box */
.heritage-box {
    position: relative;
    height: 120px;
    border: 1px solid var(--color-brown-light);
    overflow: hidden;
}

/* Image layer */
.heritage-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: grayscale(20%);
    transition: transform 0.4s ease;
}

/* Overlay layer */
.heritage-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(32, 33, 43, 0.7),
        rgba(32, 33, 43, 0.1)
    );
}

/* Hover effect */
.heritage-box:hover::before {
    transform: scale(1.1);
}

/* Images */
.pyramids::before {
    background-image: url("../img/Giza\ Pyramids.jpg");
}

.temple::before {
    background-image: url("../img/Egyptian\ Museum.jpg");
}

.statue::before {
    background-image: url("../img/Abu\ Simbel.jpg");
}
